@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  overflow-y: scroll;
}

::placeholder {
  color: rgb(30, 30, 30);
}

.App {
  min-height: 100vh;
  background-color: #ebebeb;
}

/* 

Notes

*/

.notes__header--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.notes__header {
  display: flex;
  align-items: center;
  font-size: 38px;
  color: #554bb5;
}
.noteIcon,
.AddIcon {
  margin-right: 8px;
}

.AddNoteBtn {
  color: #554bb5;
  font-size: 16px;
  padding: 8px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.notes__container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.notes__list {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note {
  position: relative;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 4px 4px 16px 4px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.note__input {
  background-color: transparent;
  border: none;
  resize: none;
  padding: 16px;
}

.note__input:focus {
  border: none;
  outline: none;
}

.note__footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date--wrapper {
  user-select: none;
  font-size: 14px;
  color: rgb(59, 59, 59);
  font-weight: 500;
  margin: 0 auto;
  padding-bottom: 4px;
}

.deleteBtn,
.colorPaneBtn {
  margin-right: 4px;
}

.deleteBtn--wrapper,
.editBtn--wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 5px;
  border: 1px black solid;
  transition: all 300ms;
}

.deleteBtn--wrapper {
  background-color: #ef233c;
  border: 1px #ef233c;
  color: white;
  font-weight: 300;
  min-width: 122.42px;
}

.editBtn--wrapper {
  background-color: white;
  margin-right: 8px;
  min-width: 107px;
}

.editBtn--wrapper:hover,
.deleteBtn--wrapper:hover {
  filter: brightness(1.3);
}

.editBtn--wrapper:active,
.deleteBtn--wrapper:active {
  transform: translate(-1px, 1px);
}

/* 

New Note

*/

.note--new {
  background-color: lightgreen;
}

.note__textarea {
  border: none;
  background-color: transparent;
  resize: none;
  margin-bottom: 8px;
}

.note__textarea:focus {
  outline: none;
}

.note__saveBtn {
  background-color: #e1e1e1;
  border: none;
  border-radius: 12px;
  padding: 5px 10px;
}

.note__saveBtn:hover {
  background-color: #ededed;
  transition: 300ms all;
  cursor: pointer;
}

.note__saveBtn:active {
  transform: translate(-1px, 1px);
}

/* 

search

*/

.search__container {
  display: flex;
  align-items: center;
  margin: 16px 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.searchbar {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.searchIcon {
  color: rgb(88, 88, 88);
  font-size: 1.5rem;
  position: absolute;
  left: 8px;
}

.search__input {
  padding: 20px 5px;
  padding-left: 36px;
  width: 100%;
  border: 1px solid transparent;
  background-color: white;
}

.search__input:focus {
  outline: none;
}

.buttons--wrapper {
  display: flex;
  align-items: center;
}

.editBtn,
.colorPaneBtn,
.doneBtn {
  cursor: pointer;
}

/* 

Color Pane

*/

.color-pane--wrapper {
  position: absolute;
  list-style: none;
  background-color: #4a4a4c;
  padding: 10px 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  display: flex;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  right: 0;
  animation: slide-up 300ms ease-in-out;
}

@keyframes slide-up {
  from {
    transform: translateY(45px);
  }
  to {
    transform: translateY(0px);
  }
}

.color__background {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
}
